@forward "./mixins";
@forward "./typography";
@forward "./variables";

@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  @include default-type;
  color: $dark-grey;
}@use './mixins.scss' as *;
@use './typography.scss' as *;
@use './variables.scss' as *;


button, input, textarea {
    font-family: inherit;
}