@use "./mixins" as *;
@use "./typography" as *;
@use "./variables" as *;

@forward "./variables";
@forward "./mixins";
@use "./typography";



*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  @include default-type;
  color: black;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 12px;
}

