@use "./variables" as *;
@use "./typography" as *;

@mixin default-type{
    font-family: $MS-font;
    font-weight: 400;
}

@mixin input-field {
    background-color: white;
    border-radius: 1.25rem;
    height: 2.25rem;
    padding: 0 1rem;
    width: 100%;
    outline: none;
    border: solid 1px $med-grey;
    color: $med-grey;
    &:focus {
      color: $dark-grey;
      border-color: $bell-blue;
    }
  }

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}