@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss";
@use "../../styles/partials/variables.scss" as *;

.brief {
    margin: 2rem;
    &__title {
        padding-bottom: 1rem;
        border-bottom: solid 2px $bell-blue;
        font-weight: 600;
        font-size: 1.2rem;
    }
    &__reminder {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        &-note {
            &-date {
                font-weight: 600;
            }
        }
    }
    &__redirections {
        display: flex;
        justify-content: flex-start;
        &-bill {
            border: solid #0065A4;
            padding: 0.3rem 2rem;
            border-radius: 2rem;
            color: #0065A4;
            text-align: center;
        }
        &-pay {
            background-color: #0065A4;
            padding: 0 2rem;
            padding-top: 0.5rem;
            border-radius: 2rem;
            color: white;
            text-align:center;
        }
    }
}