.card {
    position:relative;
    border: 1px solid black;
    border-radius: 0.5rem;

    &__front {
        width:7rem;
        height:7rem;
        border-radius: 0.5rem;
        border:1px solid #fff;
        position: absolute;
        transform: rotateY(90deg);
    }

    &__cover {
        width:7rem;
        height:7rem;
        border-radius: 0.5rem;
        border:1px solid #fff;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }

    &__flipped {
        & .card__front {
            transform: rotateY(0deg);
        }

        & .card__cover {
            transform: rotateY(90deg);
            transition-delay: 0s;
        }
    }
}